<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Site de Paris</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="bets.html">Parier</a></li>
            <li><a href="index.html">Accueil</a></li>
        </ul>
    </nav>
<body>
    <section id="admin-panel" style="display: none;">
        <h2>Panel Administration</h2>
        <div id="selected-user" style="margin: 10px 0; font-weight: bold;">
            Aucun utilisateur sélectionné
        </div>
        <div id="user-list"></div>
        <form id="update-points-form">
            <input type="number" id="new-points" required>
            <button type="submit">Modifier les points</button>
        </form>
    </secion>
</body>
</html>
